.container-fluid{
    margin: 20px;
}

/* .row{
    margin: 10px;
} */

.logo-uoe{
    width:4%; 
    margin:5px;
}
.logo-qub{
    margin:10px;
    margin-top:20px;
    width:6%; 
}

.logo-lsst{
    margin-top:10px;
    width: 7%
}

.logo-ztf{
    margin:10px;
    width:5%;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: 	#bbded6;
    /* background-color:#dfe6ea; */
    height:9%;
}


.header{
    position: absolute;
    left: 0;
    top: 0;
    margin: 0px;
    /* background-color:#dfe6ea; */
    background-color:	#bbded6;
    height: 16%;

}

.lasair-logo{
    /* width:350px;  */
    width:90%;
    margin:20px;
}

.content{
    margin-top:40px;
    /* background: #deeaff; */
}

.caption{
    margin-top: 4%;
}

