.container-fluid{
    margin: 0px;
}

/* .row{
    margin: 10px;
} */

.nav-link{
    margin:auto;
    margin-top:2px;
    background-color: 	#fcfcfc;
    width: 100px;
}

.nav-link:hover { 
    background-color: #bbded6;
}

.header{
    /*position: absolute;*/
    left: 0;
    top: 0;
    margin: 0px;
    /*background-color:#dfe6ea;*/
    background-color:	#bbded6;
    height: 16%;
}

.lasair-logo{
    /* width:350px;  */
    width:90%;
    margin:20px;
}

.content{
    margin-top:40px;
    margin-bottom:10px;
    background: #ffffff;
}

.caption{
    margin-top: 4%;
}


.main-svg{
    padding:5px;
}
