{% load staticfiles%}
<!doctype html>
<html lang="en">
<head>
<!-- <link rel="stylesheet" href="{% static "css/bootstrap.min.css"%}" >
<link rel="stylesheet" href="{% static "css/lasair-web.css" %}">-->
<link rel="stylesheet" href=lasair/static/css/bootstrap.min.css>
<link rel="stylesheet" href=lasair/static/css/lasair-web.css>

<title>Lasair Transients and Variables*</title>
</head>
<body>
	<div class="container-fluid" id="content">
            {% block content %}{% endblock %}
	</div>
</body>
</html>
