Query: {{ message }}
<hr/>
Showing results {{ ps }} to {{ pe }} of {{ nalert }}
<form method="POST" action="/candlist/">
<input type="hidden" name="selected" value="{{ selected }}"/>
<input type="hidden" name="where"    value="{{ where }}"/>
<input type="hidden" name="order"    value="{{ order }}"/>
<input type="hidden" name="page"     value="{{ nextpage }}"/>
<input type="submit" value="next page"/>
</form>
<hr/>
<table border=1>
<tr>
<th></th>
{% for key, value in table.0.items %} 
<th>{{ key }}</th>
{% endfor %}
</tr>
{% for row in table %}<tr>
<td><a href=/cand/{{ row.candid }}>link</a></td>
{% for key, value in row.items %} 
<td>{{ value }}</td>
{% endfor %}
</tr>
{% endfor %}
</table>
