{% extends "base.html" %}
{% block content %}
<div class="row">
        <div class="col-sm">
                <h3>Query the candidate (detections) database</h3>
        </div>		
</div>
<div class="row">
        <div class="col-sm">
<p>
The form below is a builder for SELECT queries on the ZTF database of candidate alerts. 
<ul>
<li>The attributes that can be queried are listed in the
<a href= https://zwickytransientfacility.github.io/ztf-avro-alert/schema.html>ZTF schema.</a>
<li> The public survey uses two filters: fid=1 (g) and fid=2 (r)
<li>For each observing field of the survey and each of the g and r filters, 
ZTF will only issue candidate alerts when it has 
built up a <i>reference image</i> of that field with that filter, by stacking 15 good images. 
<li>Once that is in place, each fresh image is subtracted from the reference, 
and any 5-sigma difference generates a candidate alert. 
<li>When a candidate is within 1.5 arcseconds of a previous candidate, it gets the same <i>objectId</i>. Thus a light curve can be obtained from all the candidates that have a given objectId.
<li>More details of the processing pipeline are available 
<a href=http://web.ipac.caltech.edu/staff/fmasci/ztf/ztf_pipelines_deliverables.pdf>here</a>. 
<li>Further cuts can be made to remove spurious candidates, as illustrated in the prefilled
SELECT criterion below -- where it says "rb &gt;= 0.65 and nbad = 0 and fwhm <= 5 and elong &lt;= 1.2 and abs(magdiff) &lt;= 0.1"
</ul>

</p>
            </div>		
        </div>

<div class="row">
        <div class="col-sm">
                <form method="POST" action="/candlist/">
                    {% csrf_token %} 
                    <input type="submit" value="Submit Query" class="btn btn-primary"/>
                    <div class ="form-group">
                        <label for="select">SELECT</label>
                        <textarea class="form-control" rows="1" cols="50" name="selected" id="SELECT">*</textarea>
                    </div>
                    <div class ="form-group">
                            <label for="where">FROM candidates WHERE</label>
<textarea class="form-control" rows="2" cols="50" name="where" id="where">
magpsf < 15 
and rb >= 0.65 and nbad = 0 and fwhm <= 5 and elong <= 1.2 and abs(magdiff) <= 0.1
</textarea>
                    </div>
                    <div class ="form-group">
                            <label for="orderby">ORDER BY</label>
                            <input id="orderby" class="form-control" name="order" type="text" value="objectId"/><br/>
                            <input class="form-control" type="hidden" name="page" value="{{ page }}"/><br/>
                    </div>
                </form>
        </div>		
</div>



{% endblock %}
