<h2>Query the ZTF database</h2>

Modify the query:
<hr/>
<form method="POST" action="/candlist/">
SELECT<br/>
<p>
<textarea rows="1" cols="50" name="selected">
*
</textarea></br>
<p>
WHERE<br/>
<p>
<textarea rows="2" cols="50" name="where">
magpsf < 13 
and rb >= 0.65 and nbad = 0 and fwhm <= 5 and elong <= 1.2 and abs(magdiff) <= 0.1
</textarea></br>
<p>
ORDER BY<br/>
<p>
<input name="order" type="text" value="ra"/><br/>
<input type="hidden" name="page" value="{{ page }}"/><br/>
<p>
<input type="submit" value="Submit"/>

</form>
<hr/>
For information on attributes that can be queried, see the 
<a href= https://zwickytransientfacility.github.io/ztf-avro-alert/schema.html>ZTF schema</a>
