{% extends "base.html"%}
{% block content %}
<div class="row">
	<h3>Candidate object</h3>
{{ message }}
</div>
<div class="row">
	<div class="col-sm">
	This candidate is part of object <a href="/object/{{ cand.objectid }}/">{{ cand.objectid }}</a>.
	</div>
</div>
<div class="row">
	<div class="col-sm">
	<img src=/lasair/static/ztf/stamps/jpg/{{ cand.nid }}/candid{{ cand.candid }}.jpg width=300>
	</div>
</div>
<div class="row">
	<div class="col-sm">
		<table class="table">
<tr><td>chipsf</td><td>{{ cand.chipsf }}</td></tr>
<tr><td>classtar</td><td>{{ cand.classtar }}</td></tr>
<tr><td>dec</td><td>{{ cand.decl }}</td></tr>
<tr><td>distnr</td><td>{{ cand.distnr }}</td></tr>
<tr><td>distpsnr1</td><td>{{ cand.distpsnr1 }}</td></tr>
<tr><td>elong</td><td>{{ cand.elong }}</td></tr>
<tr><td>field</td><td>{{ cand.field }}</td></tr>
<tr><td>fwhm</td><td>{{ cand.fwhm }}</td></tr>
<tr><td>isdiffpos</td><td>{{ cand.isdiffpos }}</td></tr>
<tr><td>jd</td><td>{{ cand.jd }}</td></tr>
<tr><td>jdendhist</td><td>{{ cand.jdendhist }}</td></tr>
<tr><td>jdstarthist</td><td>{{ cand.jdstarthist }}</td></tr>
<tr><td>magap</td><td>{{ cand.magap }}</td></tr>
<tr><td>magdiff</td><td>{{ cand.magdiff }}</td></tr>
<tr><td>magnr</td><td>{{ cand.magnr }}</td></tr>
<tr><td>magpsf</td><td>{{ cand.magpsf }}</td></tr>
<tr><td>magzpsci</td><td>{{ cand.magzpsci }}</td></tr>
<tr><td>nbad</td><td>{{ cand.nbad }}</td></tr>
<tr><td>nid</td><td>{{ cand.nid }}</td></tr>
<tr><td>objectidps1</td><td>{{ cand.objectidps1 }}</td></tr>
<tr><td>ra</td><td>{{ cand.ra }}</td></tr>
<tr><td>rb</td><td>{{ cand.rb }}</td></tr>
<tr><td>scorr</td><td>{{ cand.scorr }}</td></tr>
<tr><td>sgmag1</td><td>{{ cand.sgmag1 }}</td></tr>
<tr><td>sgscore1</td><td>{{ cand.sgscore1 }}</td></tr>
<tr><td>sigmagap</td><td>{{ cand.sigmagap }}</td></tr>
<tr><td>sigmagnr</td><td>{{ cand.sigmagnr }}</td></tr>
<tr><td>sigmapsf</td><td>{{ cand.sigmapsf }}</td></tr>
<tr><td>simag1</td><td>{{ cand.simag1 }}</td></tr>
<tr><td>sky</td><td>{{ cand.sky }}</td></tr>
<tr><td>srmag1</td><td>{{ cand.srmag1 }}</td></tr>
<tr><td>ssdistnr</td><td>{{ cand.ssdistnr }}</td></tr>
<tr><td>ssmagnr</td><td>{{ cand.ssmagnr }}</td></tr>
<tr><td>ssnamenr</td><td>{{ cand.ssnamenr }}</td></tr>
<tr><td>szmag1</td><td>{{ cand.szmag1 }}</td></tr>
<tr><td>xpos</td><td>{{ cand.xpos }}</td></tr>
<tr><td>ypos</td><td>{{ cand.ypos }}</td></tr>
		</table>
	</div>
</div>
{% endblock %}
