{% extends "base.html"%}
{% block content %}

<div class="row">
<div class="col-sm">
<hr/>
<h3>Cone Search</h3>
Enter RA and Dec and optionally radius in arcseconds, to search for
objects in ZTF in that cone. They can be separated by spaces, commas, semicolons, or vertical bars.
They can be in decimal degrees (floating point number), 
or sexagesimal in the form hh:mm:ss and dd:mm:ss or 
hh mm ss and dd mm ss. If the radius is not specified, it defaults to 5 arcsec.
You can also enter an objectId, or a list of object Id, each beginning with 'ZTF'.
<form method="POST"  action="/conesearch/">
<table class="table" style="width:80%">
{% csrf_token %}
<tr><td> <input size=40 name="cone" value="{{ data.cone }}"></td>
<td class="w-30"><font size=-2>(check this box for JSON output <input type="checkbox" name="json">)</font></td></tr>
<tr><td><input type="submit" class="button" style="color: blue; background-color: #EEEEFF;" value="Run Cone Search"></td></tr>
</td></tr>
</form>
</table>

{% if data.message %}
{{ data.message|safe }}
{% if data.hitlist %}

<ul>
{% for h in data.hitlist %}
<li><a href=/object/{{ h }}>{{ h }}</a></li>
{% endfor %}
</ul>

{% else %}

<br/>No objects found in the specified cone.
{% endif %}
{% endif %}
</div>
</div>

<font size=-2>
Examples of searches:
<ul><tt>
<li>ZTF18acsovsw</li>
<li>ZTF18acsovsw, ZTF19aagqkrq, ZTF18aawohdr</li>
<li>141.15725 25.39508 </li>
<li>141.15725;25.39508 </li>
<li>141.15725| 25.39508 </li>
<li>141.15725,  25.39508, 5.0</li>
<li>09:24:37.74 | +25:23:42.3</li>
<li>09:24:37.74 | +25:23:42.3 10.0</li>
<li>09 24 37.74   +25 23 42.3</li>
<li>09 24 37.74 | +25 23 42.3 5</li>
<li>09 24 37.74 ; +25 23 42.3 5</li>
</tt></ul>
</font>
{% endblock %}

