{% extends "base.html"%}
{% block content %}

<div class="row">
<div class="col-sm">
<hr/>
<h3>Cone Search</h3>
Enter RA and Dec and optionally radius in arcseconds, to search for
objects in ZTF in that cone. They can be separated by spaces, commas, semicolons, or vertical bars.
They can be in decimal degrees (floating point number), 
or sexagesimal in the form hh:mm:ss and dd:mm:ss or 
hh mm ss and dd mm ss.
You can also enter an objectId, beginning with 'ZTF'.
<table class="table table-bordered" style="width:60%">
<form method="POST"  action="/conesearch/">
{% csrf_token %}
<tr><td>RA Dec radius:</td><td> <input size=60 name="cone" value="{{ cone }}"></td></tr>
<tr><td><input type="submit" class="button" style="color: blue; background-color: #EEEEFF;" value="Run Cone Search"></td></tr>
</td></tr>
</form>
</table>

{% if message %}
{{ message|safe }}
{% if hitdict %}

<table class="table table-bordered" style="width:60%">
<tr><th>ZTF object</th><th>RA</th><th>Dec</th><th>Arcsec</th></tr>
{% for k,v in hitdict.items %}
<tr><td><a href=/object/{{ k }}>{{ k }}</a></td><td>{{ v.0|floatformat:6 }}</td><td>{{ v.1|floatformat:6 }}</td><td>{{ v.2|floatformat:1 }}</td></tr>
{% endfor %}
</table>

{% else %}

<br/>No objects found in the specified cone.
{% endif %}
{% endif %}
</div>
</div>

<font size=-2>
Examples of searches:
<ul><tt>
<li>ZTF18acsovsw
<li>141.15725 25.39508 
<li>141.15725;25.39508 
<li>141.15725| 25.39508 
<li>141.15725,  25.39508, 5.0
<li>09:24:37.74 | +25:23:42.3
<li>09:24:37.74 | +25:23:42.3 10.0
<li>09 24 37.74   +25 23 42.3
<li>09 24 37.74 | +25 23 42.3 5
<li>09 24 37.74 ; +25 23 42.3 5
</tt></ul>
</font>
{% endblock %}

