{% extends "base.html"%}
{% block content %}
<div class="row">
	<h3>Lasair Team and Contact</h3>
</div>
<div class="row">
	<div class="col-sm">


<h5>University of Edinburgh</h5>
  <ul>
  <li>Amanda Ibsen</li>
  <li>Andy Lawrence</li>
  <li>Dave Morris</li>
  <li>Matt Nicholl</li>
  <li>Stelios Voutsinas</li>
  <li>Roy Williams</li>
  </ul>
<h5>Queen's University Belfast</h5>
  <ul>
  <li>Stephen Smartt</li>
  <li>Ken Smith</li>
  <li>Dave Young</li>
  </ul>




	To contact the Lasair project, please write to <a href="mailto:lasair-help@lists.roe.ac.uk?subject=Enquiry">lasair-help@lists.roe.ac.uk</a>.
Make suggestions for improvements and fixes at the
<a href="https://github.com/lsst-uk/lasair/issues">Lasair github issues page</a>.
	</div>
</div>
{% endblock %}
