{% extends "base.html" %}
{% load staticfiles%}
{% block content %}

    <div class="row">
            <div class="col-sm">
				<img src={% static "img/lasair-font.png" %} width=200>
				<!-- <img src=/lasair/static/img/lasair-font.png width=200> -->
				
		 </div>		
        </div>

		<div class="row">
			<div class="col-sm">
				<p>
				A prototype for astronomers studying transients and variables, a collaboration of Queen's University, Belfast and Royal Observatory, Edinburgh. 
				<p>
				<i>In Irish and Scottish Gaelic, Lasair means Flame, Flash</i>
			  </div>
		</div>
		<div class="row">
			<div class="col-sm">
				<ul>
				<li>Click here to query <a href=/candlist>Lasair's ZTF candidates</a></li>
				<li><a href=http://www.ztf.caltech.edu/>Information about ZTF</a></li>
				</ul>
			</div>
		</div>

{% endblock %}
