{% extends "base.html"%}
{% block content %}

<div class="row">
<div class="col-sm">

{% if is_owner %}
<!-- create new query -->
<form method="POST"  action="/myquery/">
{% csrf_token %}
Name:<br/>
<h2><input name="name"></h2>

Description:<br/><textarea name="description" rows=4 cols=80></textarea><br/>
Active:<br/>
&nbsp;&nbsp;&nbsp;<input type="radio" name="active" value="0" {% if myquery.active == 0 %}checked{% endif %}> Inactive <br/>
&nbsp;&nbsp;&nbsp;<input type="radio" name="active" value="1" {% if myquery.active == 1 %}checked{% endif %}> Email to {{ email }} (max once a day) and digest <br/>
&nbsp;&nbsp;&nbsp;<input type="radio" name="active" value="2" {% if myquery.active == 2 %}checked{% endif %}> Kafka and digest <br/>


Public: <input type="checkbox" name="public"><br/>

{% include "query_builder.html" %}
<input type="submit" class="button" style="color: blue; background-color: #EEEEFF;" value="Create query">
</form>
{% else %}
You must be signed in to create a stored query. See links at the top left.
{% endif %}

</div>
</div>

{% endblock %}


