{% extends "base.html" %}
{% block content %}

<div class="row">
	<div class="col-sm">
		<div class="alert alert-primary" role="alert">
			<p> Showing results for query:</p>
			<small><samp>{{message}}</samp></small>
		</div>		
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		Showing results {{ ps }}-{{ pe }} <!-- of  {{ nalert }} -->
	</div>
{% if lastpage == 0 %}
	<div class="col-sm-8">
		<form method="POST" action="/objlist/">
                {% csrf_token %}
		<div class ="form-group">
			<input type="hidden" name="selected"  value="{{ selected }}"/>
			<input type="hidden" name="tables"    value="{{ tables }}"/>
			<input type="hidden" name="conditions" value="{{ conditions }}"/>
			<input type="hidden" name="page"      value="{{ nextpage }}"/>
			<input class="btn btn-primary" type="submit" value="next page"/>
		</div>
		</form>
	</div>
{% endif %}
</div>

<div class="row">
	<div class="col-sm">	
		<table class="table">
		<tr>
		{% for key, value in table.0.items %} 
		<th>{{ key }}</th>
		{% endfor %}
		</tr>
		{% for row in table %}<tr>
		{% for key, value in row.items %} 
			{% if key == "objectId" %}
				<td><a href=/object/{{ row.objectId }} target="_blank">{{ value }}</a></td>
			{% elif key == "content" %}
				<td>{{ value|safe }}</td>
			{% else %}
				<td>{{ value }}</td>
			{% endif %}
		{% endfor %}
		</tr>
		{% endfor %}
		</table>
	</div>
</div>


{% endblock %}
