{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-sm">
                <h3>Filter the ZTF object database</h3>
  </div>		
</div>
<div class="row">
  <div class="col-sm">
<p>
The form below is a builder for SQL SELECT queries on the ZTF database of objects. 
There are three tables that can be joined in SELECT queries 
(only SELECT queries are allowed). See examples below.
The tables are:
<ul>
<li> <b>objects</b>: The astrophysical objects which consist of a series
of candidates (aka detections). The object has a light curve, the candidate has a single magnitude and date.</li>
<li> <b>sherlock_crossmatches</b>: Information about each object derived from 
multiple catalogs by the <a href=/sherlock>Sherlock</a> software. 
The crossmatches have a <i>rank</i> 1,2,3... where 
1 is considered most likely.</li>
<li> <b>candidates</b>: The individual detections provided by ZTF each night. 
Each is associated with an <i>object</i>, which is a cluster of detections 
within 1.5 arcsec, and presumed to be an astrophysical object.
</ul>
<p>
<b>For detailed information about the attributes of these three tables, 
that you can use in the filters :
<a target="new" href=/schema>click here</a>.</b>

<ul>
<li> The public survey uses two filters: fid=1 (g) and fid=2 (r)
<li> For each observing field of the survey and each of the g and r filters,
ZTF will only issue candidate alerts when it has
built up a <i>reference image</i> of that field with that filter, by stacking 15 good images.
<li> Once that is in place, each fresh image is subtracted from the reference,
and any 5-sigma difference generates a candidate alert.
<li> When a candidate is within 1.5 arcseconds of a previous candidate, it gets the same <i>objectId</i>. 
Thus a light curve can be obtained from all the candidates that have a given objectId.
<li> More details of the processing pipeline are available
<a href=http://web.ipac.caltech.edu/staff/fmasci/ztf/ztf_pipelines_deliverables.pdf>here</a>.
<li> Further cuts can be made to remove spurious candidates, using the "drb" attribute of each candidate:
the range is 0 to 1 where closer to 1 is more reliable.
<li>If you would like to learn the SQL language, <a href=http://cas.sdss.org/dr6/en/help/howto/search/>this</a>
is a good resource.
</ul>
  </div>
</div>

<div class="row">
<div class="col-sm">
<form method="POST" action="/objlist/">
{% include "query_builder.html" %}

<input type="submit" value="Run Filter" class="btn btn-primary"/>
<font size=-2>(check this box for JSON output <input type="checkbox" name="json"/>)</font>
</form>
</div>
</div>

<div class="row">
  <div class="col-xs-6">

{% if is_authenticated %}
<h3>My Stored Queries</h3>
Stored filters that you control are listed below.
Click on the name of the filter to push it into the filter area above,
or the link below the name to edit it. 
<form action="/myquery/">
    <input type="submit" value="Create new stored filter" class="btn btn-primary"/>
</form>
<br/>
<table class="table table-bordered" style="width:80%">
  <thead>
    <tr>
      <th style="width:20%">Name</th>
      <th class="width:60%">Description</th>
      <th class="width:20%">Query</th>
    </tr>
  </thead>
{% for mq in myqueries %}
<tr><td><b><a href=# onclick='
document.getElementById("selected").value = document.getElementById("selected{{ mq.mq_id}}").textContent;
document.getElementById("tables").value = document.getElementById("tables{{ mq.mq_id}}").textContent; check_boxes();
document.getElementById("conditions").value = document.getElementById("conditions{{ mq.mq_id}}").textContent;
'>{{ mq.name }}</a></b><br/>&nbsp;<br/><a href="/myquery/{{ mq.mq_id }}/">Edit/delete filter</a>
<p>
Stream: <i>{{ mq.streamlink|safe }}<i>
</td>
<td>{{ mq.description }}</td>
<td><font size=-2>
		<pre id="selected{{ mq.mq_id }}">{{ mq.selected }}</pre>
		----
		<pre id="tables{{ mq.mq_id }}">{{ mq.tables }}</pre>
		----
		<pre id="conditions{{ mq.mq_id }}">{{ mq.conditions }}</pre>
	</font></td>
</tr>
{% endfor %}
</table>
<br/>
{% else %}
(If you would like to create your own stored filters, you should be signed in. See links at top left.)
<hr/>
{% endif %}

<h3>Contributed Stored Filters</h3>
Stored filters created and made public are listed below. Click on the name of
the filter to push it into the area above.
<table class="table table-bordered" style="width:80%">
  <thead>
    <tr>
      <th style="width:10%">Name</th>
      <th style="width:10%">Owner</th>
      <th class="width:40%">Description</th>
      <th class="width:20%">Query</th>
    </tr>
  </thead>
{% for mq in public_queries %}
<tr><td><b><a href=# onclick='
document.getElementById("selected").value = document.getElementById("selected{{ mq.mq_id}}").textContent;
document.getElementById("tables").value = document.getElementById("tables{{ mq.mq_id}}").textContent; check_boxes();
document.getElementById("conditions").value = document.getElementById("conditions{{ mq.mq_id}}").textContent;
'>{{ mq.name }}</a></b><br/>
{% if mp.public != 0 %}
<a href="/myquery/{{ mq.mq_id }}/">Detail </a>  
{% endif %}
<p>
Stream: <i>{{ mq.streamlink|safe }}<i>
</td>
<td>{{ mq.usersname }}</td>
<td>{{ mq.description }}</td>
<td><font size=-2>
		<pre id="selected{{ mq.mq_id }}">{{ mq.selected }}</pre>
		----
		<pre id="tables{{ mq.mq_id }}">{{ mq.tables }}</pre>
		----
		<pre id="conditions{{ mq.mq_id }}">{{ mq.conditions }}</pre>
	</font></td>
</tr>
{% endfor %}
</table>
  </div>
</div>

{% endblock %}
