{% extends "base.html"%}
{% block content %}
<div class="row">
	<h3>Release Notes</h3>
</div>
<div class="row">
	<div class="col-sm">
<ul>
<li>2019-06-10 -- All queries fit with streaming model</li>
<li>2019-02-07 -- Release of beta website</li>
<li>2019-01-26 -- LIGO-Virgo Skymaps</li>
<li>2018-12-20 -- Automated crossmatch with TNS</li>
<li>2018-12-07 -- Comments on objects, searchable</li>
<li>2018-11-19 -- Queries can be stored with a user, made public or not</li>
<li>2018-11-19 -- Cone search now takes a single string</li>
<li>2018-11-10 -- Support for solar system objects</li>
<li>2018-11-10 -- Support for nondetections of objects with magnitude limit</li>
<li>2018-11-10 -- Support for galactic longitude and latitude</li>
<li>2018-11-10 -- Freeform SQL queries on three tables: Objects, Candidates, and Sherlock_crossmatches</li>
<li>2018-09-13 -- First implementation of watchlists</li>
<li>2018-09-13 -- Cone Search</li>
<li>2018-07-13 -- Sortable tables</li>
<li>2018-07-10 -- Added sortable table to object and coverage pages</li>
<li>2018-07-06 -- Added plots for light curves and dartboard plot</li>
<li>2018-06-28 -- Added coverage visualisation</li>
<li>2018-06-27 -- Website running</li>
</ul>
	</div>
</div>
{% endblock %}
