{% extends "base.html"%}
{% block content %}
<div class="row">
	<h3>Release Notes</h3>
</div>
<div class="row">
	<div class="col-sm">
<ul>
<li>2020-04-09 -- Release of Sherlock 2.0</a>
<li>2020-04-07 -- Added <a href=https://lsst-uk.atlassian.net/l/c/1S1VEAAo>Lasair Cookbook</a> to documentation</li>
<li>2020-04-04 -- Added Sherlock documentation</li>
<li>2019-12-23 -- Active queries can produce email alerts to the users</li>
<li>2019-12-23 -- Active queries can produce Kafka streams</li>
<li>2019-12-23 -- Queries can now be made active so they run in the night as data comes in</li>
<li>2019-10-28 -- Object table now includes <i>ncandgp</i>, the number of good and positive candidates</li>
<li>2019-10-28 -- Autocomplete now available as part of the query/filter mechanism</li>
<li>2019-10-28 -- Watchlists now available as part of the query/filter mechanism</li>
<li>2019-10-28 -- Watchlists can now have non-uniform radius</li>
<li>2019-08-18 -- Addition of new machine-learning real-bogus classifier</li>
<li>2019-08-18 -- Output streams from active queries</li>
<li>2019-08-18 -- Addition of 6 moving averages of apparent magnitude to detect outburst</li>
<li>August 2019, Matt Nicholl at "Hot-wiring the Transient Universe"
Northwestern University, Illinois
<a href=https://sites.northwestern.edu/hotwired6/files/2019/08/NICHOLL.pdf>
Talk and Demo session on LASAIR</a></li>
<li>2019-07-19 -- Addition of computed apparent magnitude to candidate table</li>
<li>June 2019, Andy Lawrence at LSST Community Brokers Workshop, Seattle
<a href=https://lsst-uk.atlassian.net/wiki/download/attachments/745570305/201906_lawrence_lasair_cbw.pdf>
Lasair presentation</a></li>
<li>June 2019, Roy Williams and Ken Smith
<a href=https://lsst-uk.atlassian.net/wiki/download/attachments/1146928/LUSC-A-08_lasair-ztf_transient_broker.pdf>
Report on Lasair from LSST:UK phase A</a></li>
<li>2019-06-10 -- All queries fit with streaming model</li>
<li>April 2019 Ken Smith, at STScI meeting
<a href=https://lsst-uk.atlassian.net/wiki/download/attachments/745570305/Lasair_stsci_201904.pdf>Lasair: The UK: LSST Transient Server</a></li>
<li>April 2019, Roy Williams at the LSST:UK allhands meeting, Cardiff
<a href=https://lsst-uk.atlassian.net/wiki/download/attachments/745570305/20190514_williams_lasair.pdf>
Lasair: a ZTF broker and prototype LSST broker</a></li>
<li>2019-02-07 -- Release of beta website</li>
<li>Feb 2019, Ken Smith, at DESC workshop, Berkeley <a href=https://lsst-uk.atlassian.net/wiki/download/attachments/745570305/Lasair_LBNL_DESC_Broker_workshop_201902.pdf>Lasair: a ZTF broker and prototype LSST broker</a>
<li>January 2019, Ken Smith and the Lasair Team, Research Notes of the AAS, 3, 1
<a href=https://iopscience.iop.org/article/10.3847/2515-5172/ab020f>
Lasair: The Transient Alert Broker for LSST:UK</a></li>
<li>2019-01-26 -- LIGO-Virgo Skymaps</li>
<li>2018-12-20 -- Automated crossmatch with TNS</li>
<li>2018-12-07 -- Comments on objects, searchable</li>
<li>2018-11-19 -- Queries can be stored with a user, made public or not</li>
<li>2018-11-19 -- Cone search now takes a single string</li>
<li>2018-11-10 -- Support for solar system objects</li>
<li>2018-11-10 -- Support for nondetections of objects with magnitude limit</li>
<li>2018-11-10 -- Support for galactic longitude and latitude</li>
<li>2018-11-10 -- Freeform SQL queries on three tables: Objects, Candidates, and Sherlock_crossmatches</li>
<li>2018-09-13 -- First implementation of watchlists</li>
<li>2018-09-13 -- Cone Search</li>
<li>2018-07-13 -- Sortable tables</li>
<li>2018-07-10 -- Added sortable table to object and coverage pages</li>
<li>2018-07-06 -- Added plots for light curves and dartboard plot</li>
<li>2018-06-28 -- Added coverage visualisation</li>
<li>2018-06-27 -- Website running</li>
</ul>
	</div>
</div>
{% endblock %}
