{% extends "base.html"%}
{% block content %}
<div class="row">
	<h3>Release Notes</h3>
</div>
<div class="row">
	<div class="col-sm">
<ul>
<li>2018-06-27 -- First public release</li>
<li>2018-06-28 -- Added coverage visualisation</li>
<li>2018-07-06 -- Added plots for light curves and dartboard plot</li>
<li>2018-07-10 -- Added sortable table to object and coverage pages</li>
<li>2018-07-13 -- Sortable tables</li>
<li>2018-09-13 -- Cone Search</li>
<li>2018-09-13 -- First implementation of watchlists</li>
</ul>
	</div>
</div>
{% endblock %}
