{% extends "base.html"%}
{% block content %}

<div class="row">
<div class="col-sm">

{% if is_owner %}
<!-- editing an existing query -->
<form method="POST"  action="/myquery/{{ myquery.mq_id }}/">
{% csrf_token %}
<h2><input name="name" value="{{ myquery.name }}"></h2>
<textarea name="description" rows=4 cols=80>{{ myquery.description }}</textarea><br/>

Public: <input type="checkbox" name="public" {% if myquery.public > 0 %}checked{% endif %}><br/>
Active:<br/>
&nbsp;&nbsp;&nbsp;<input type="radio" name="active" value="0" {% if myquery.active == 0 %}checked{% endif %}> Inactive <br/>
&nbsp;&nbsp;&nbsp;<input type="radio" name="active" value="1" {% if myquery.active == 1 %}checked{% endif %}> Email to {{ email }} (max once a day) and digest <br/>
&nbsp;&nbsp;&nbsp;<input type="radio" name="active" value="2" {% if myquery.active == 2 %}checked{% endif %}> Kafka and digest <br/>

<hr/>
{% include "query_builder.html" %}
<input type="submit" class="button" style="color: blue; background-color: #EEEEFF;" value=" Update query"></td>
</form>
<br/><hr/>&nbsp;
<form method="POST"  action="/myquery/{{ myquery.mq_id }}/">
{% csrf_token %}
<input type="hidden" name="delete" value="delete">
<input type="submit" class="button" style="color: blue; background-color: #EEEEFF;" value=" Delete this query"></td>
</form>

{{ message }}

{% else %}
<!-- viewing a public query not yours -->
<table border=1>
<tr><td>Name</td><td><h2>{{ myquery.name }}</h2></td></tr>
<tr><td>Description</td><td>{{ myquery.description }}</td></tr>
<tr><td>Selected</td><td><tt>{{ myquery.selected }}</tt></td></tr>
<tr><td>Tables</td><td><tt>{{ myquery.tables }}</tt></td></tr>
<tr><td>Conditions</td><td><tt>{{ myquery.conditions }}</tt></td></tr>
<tr><td>Active</td><td>{% if myquery.active == 1 %}yes{% else %}no{% endif %} 
		{% if myquery.active == 1 %}(Topic name is: <b><a href=/streamdigest/{{ topic }}/>{{ topic }}</a></b>){% endif %}</td></tr>
<tr><td>Public</td><td>{% if myquery.public == 1 %}yes{% else %}no{% endif %}</td></tr>
</table>
{% endif %}

</div>
</div>

{% endblock %}
