{% extends "base.html"%}
{% block content %}

<link rel="stylesheet" href="//aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.css" />
<script src="/lasair/static/js/jquery-3.3.1.js"></script>
<script src="/lasair/static/js/surveys.js"></script>
<script src="/lasair/static/js/aladin.js"></script>
<script src="/lasair/static/js/coverage.js"></script>
<script src="/lasair/static/js/skymap.js"></script>

<div class="row">
<h3>Gravitational Wave Skymap: <a href="https://gracedb.ligo.org/superevents/{{ skymap_id }}/view/" target=_blank>{{ skymap_id_version }}</a></h3>
</div>
<div class="row">
<font size=-1>
The probability contours of the location of the gravitational-wave
counterpart are shown below; the sky background can be changed with the 
selector, and the interface allows arbitary zooming. 
The 9 contour lines show percentiles of the probability density: the outermost line contains 90%
and the innermost contains 10%.

The three checkboxes below
are as follows:
<ul>
<li>Coverage: shows if the ZTF survey has covered the skymap in the date 
range specified. Note that ZTF did not start until 20180527.</li>
<li>Candidates: Shows the ZTF candidates surrounding the skymap and in
a time window around the event time. The form fields are in days, as 
differences from the event time.</li>
<li>Galaxies: Shows galaxies that may have the counterpart, with the 
size of the symbol as the 3D probability density at that galaxy position 
and distance.</li>
</ul>
Remember to click "submit" to refresh the page.
</font>
</div>

<div class="row">
<table cellpadding=8 border=1>
<tr><td>Distance</td><td>{{ skymap_distance|safe }}</td></tr>
<tr><td>ISO Date:</td><td>{{ isodate }}</td></tr>
<tr><td>Julian date:</td><td>{{ jd|floatformat:3 }}</td></tr>
<tr><td>Percent probability:</td><td> BNS={{ classification.BNS }}, NSBH={{ classification.NSBH }}, BBH={{ classification.BBH }} MassGap={{ classification.MassGap }}</td></tr>
<tr><td>max prob RA,Dec</td><td>{{ maxRA|floatformat:1 }}, {{ maxDE|floatformat:1 }}</td></tr>
</table>
</div>

<div class="row">
<form class="form-inline" method="POST" action="/skymap/{{ skymap_id_version }}/"/>
{% csrf_token %}
<table cellpadding=10>
<tr><td><input type="checkbox" name="coverage_wanted" {% if coverage_wanted %}CHECKED{% endif %}> Coverage of ZTF</td><td>
From <input class="form-control" size="14" name="niddate1" type="text" value="{{ niddate1 }}"/>
</td><td>
To <input class="form-control" size="14" name="niddate2" type="text" value="{{ niddate2 }}"/>
</td></tr>

<tr><td><input type="checkbox" name="ztf_wanted" {% if ztf_wanted %}CHECKED{% endif %}> Show ZTF candidates</td>
<td>From <input class="form-control" value="{{ jd1delta|floatformat:3 }}" size="14" name="jd1delta" type="text"/>
</td>
<td> To <input class="form-control" value="{{ jd2delta|floatformat:3 }}" size="14" name="jd2delta" type="text"/>
</td></tr>
<tr><td><input type="checkbox" name="galaxies_wanted" {% if galaxies_wanted %}CHECKED{% endif %}> Show galaxies from <a href=http://aquarius.elte.hu/glade/>GLADE</a></td><td>{% if galaxies_wanted %}<span id='galaxy_info'><i>doubleclick a galaxy</i></span>{% endif %}</td></tr>
<tr><td><input type="submit" value="Submit"></td></tr>
</table>
</form>
</div>
{% if ztf_wanted %}
{{ nztf }} ZTF sources found
{% endif %}

<div class="row">
  <div id="SV-layerBox"> </div><br/>
</div>

<div id="SV-projectionBox"> Projection: 
<select id="projectionChoice">
<option>SINUS</option>
<option>AITOFF</option>
</select><br>
</div>

<div class="row">
  <div id="aladin-lite-div" style="width:700px;height:700px;"></div>
</div>

<div id="galaxies_table"></div>

<font size=-2><a href=/lasair/static/ztf/skymap/{{ skymap_id_version }}.json>json</a>&nbsp;&nbsp;
<a href="#" onclick="exposeDiv('ztfquery');">ztfquery</a> </font>
<div id="ztfquery" style="display:none">
<pre>
{{ ztfquery }}
</pre>
</div>


<script>
function exposeDiv(id) {
    obj = document.getElementById(id);
    if(obj.style.display == "none") {
        obj.style.display = "block";
    } else {
        obj.style.display = "none";
    }
}

function drawLayers(skymapData){
    console.log('drawLayers');
    makeContours(skymapData);
{% if galaxies_wanted %}
    makeGalaxies(skymapData);
    makeGalaxyTable(skymapData);
{% endif %}

    var cd = "{{ coverage }}";
    cd = cd.replace(/&quot;/g,'"')
    var coverage_json_data = JSON.parse(cd);
    drawMarkersFromData(coverage_json_data);

}

$(document).ready(function() {
    var zd = "{{ ztf_data }}";
    zd = zd.replace(/&quot;/g,'"')
    var ztf_json_data = JSON.parse(zd);
    setup("{{ skymap_id_version }}", ztf_json_data);
});
</script>

{% endblock %}
