{% extends "base.html"%}
{% load staticfiles%}
{% block content %}
<script type="text/javascript" src="{% static "/js/plotly-latest.min.js" %}" ></script>
<script type="text/javascript" src="{% static "/js/lc.js" %}" ></script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.12.1.min.js" charset="utf-8"></script>
<script type="text/javascript" src="{% static "/js/jquery.tablesorter.min.js" %}" ></script>

<div class="row">
	<div class="col-sm">
		<h3>Object {{ objectId }}</h3>
	</div>
</div>
<div class="row">
        <div class="col-sm-8">
		<div id="lc" style="width:100%;height:300px;"></div>
        </div>
	<div class = "col-sm-4">
		<div id="radec" style="width:100%;height:300px;"></div>
	</div>
</div>

<div class ="row">
To sort, click the column headings:
	<div class="col-sm-12">
		<table id=candidates_table class="table">
		<thead><tr>
		<th>RA</th>
		<th>Dec</th>
		<th>JD</th>
		<th>Filter</th>
		<th>magpsf</th>
		<th>candidate</th>
		<th>Image</th>
		</tr></thead>
                <tbody>
		{% for cand in cands %}
			<tr>
			<td>{{ cand.ra|floatformat:5 }}</td>
			<td>{{ cand.decl|floatformat:5 }}</td>
			<td>{{ cand.jd|floatformat:3 }}</td>
			<td>{% if cand.fid == 1 %}g{% else %}r{% endif %}</td>
			<td>{{ cand.magpsf }}</td>
			<td> <a href="/cand/{{ cand.candid }}/">{{ cand.candid }}</a></td>
			<td><a href=/lasair/static/ztf/stamps/jpg/{{ cand.nid }}/candid{{ cand.candid }}.jpg><img src=/lasair/static/ztf/stamps/jpg/{{ cand.nid }}/candid{{ cand.candid }}.jpg></a></td>
			</tr>
		{% endfor %}
                </tbody>
		</table>
	</div>
</div>

<div class="row">

<!-- insert this snippet where you want Aladin Lite viewer to appear and after the loading of jQuery -->
        <div class="col-sm-3">
                <form>
                <div class="form-group"> <input id="DSS" type="radio" name="survey" value="P/DSS2/color"><label for="DSS">DSS color<label> </div>
                <div class="form-group"> <input id="SDSS" type="radio" name="survey" value="P/SDSS9/color"><label for="SDSS">SDSS color<label> </div>
                <div class="form-group"> <input id="2MASS" type="radio" name="survey" value="P/2MASS/color"><label for="2MASS">2MASS<label> </div>
                <div> <input id="allwise" type="radio" name="survey" value="P/allWISE/color"><label for="allwise">AllWISE<label> </div>
                <div class="form-group"> <input id="galex" type="radio" name="survey" value="P/GALEXGR6/AIS/color"><label for="galex">GALEX<label> </div>
                <div class="form-group"> <input id="glimpse" type="radio" name="survey" value="P/GLIMPSE360"><label for="glimpse">GLIMPSE 360<label> </div>
                </form>    
        </div> 
        <div class ="col-sm-9">
                <div id="aladin-lite-div" style="width:300px;height:300px;"></div>
        </div>
</div>


<script type="text/javascript">
$(document).ready(function() 
    { 
        $("#candidates_table").tablesorter(); 
    } 
); 
</script>

<script type="text/javascript" src="//aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.js" charset="utf-8"></script>
<script type="text/javascript">
    var aladin = A.aladin('#aladin-lite-div', {survey: "P/DSS2/color", fov:0.04, target: "{{ cands.0.ra }}, {{ cands.0.decl }}"});
    $('input[name=survey]').change(function() {
        aladin.setImageSurvey($(this).val());
});

	var data = "{{ json_cands }}";
	var data = data.replace(/&quot;/g,'"');
	var json_data = JSON.parse(data);
	//console.log(json_data);
	plotlc(json_data);

</script>
{% endblock %}

