{% extends "base.html"%}
{% block content %}

<div class="row">
<div class="col-sm">

{% if is_owner %}

<form method="POST"  action="/watchlist/{{ watchlist.wl_id }}/">
<table>
{% csrf_token %}
<tr><td>Name</td><td><h2><input name="name" value="{{ watchlist.name }}"></h2></td></tr>
<tr><td>Description</td><td><textarea name="description" rows=4 cols=40>{{ watchlist.description }}</textarea></td></tr>
<tr><td>Radius<br/>(arcsec)</td><td><input name="radius" value="{{ watchlist.radius }}"></td></tr>
<tr><td>Active</td><td><h3><input type="checkbox" name="active" {% if watchlist.active == 1 %}checked{% endif %}></h3></td></tr>
<tr><td>Public</td><td><h3><input type="checkbox" name="public" {% if watchlist.public == 1 %}checked{% endif %}></h3></td></tr>
</table>

<input type="submit" class="button" style="color: blue; background-color: #EEEEFF;" value=" Update watchlist"></td>
</form>

{% else %}

<table border=1>
<tr><td>Name</td><td><h2>{{ watchlist.name }}</h2></td></tr>
<tr><td>Description</td><td>{{ watchlist.description }}</td></tr>
<tr><td>Radius<br/>(arcsec)</td><td>{{ watchlist.radius }}</td></tr>
<tr><td>Active</td><td>{% if watchlist.active == 1 %}yes{% else %}no{% endif %}</td></tr>
<tr><td>Public</td><td>{% if watchlist.public == 1 %}yes{% else %}no{% endif %}</td></tr>
</table>

{% endif %}



Watchlist has {{ count }} sources under watch.
To see the original input data, click <a href=/watchlist/{{ watchlist.wl_id }}/txt/>here</a>.
<hr/>
{{ message }}
<hr/>
{% if is_owner %}
<table cellpadding=10><tr>
<td><form method="POST"  action="/watchlist/{{ watchlist.wl_id }}/">
{% csrf_token %}
<input type="submit" class="button" style="color: blue; background-color: #EEEEFF;" value="Run Crossmatch">
</form> </td>
<td>The "Run Crossmatch" button compares all ZTF transients with your watchlist sources and reports the matches. It may take a few seconds so please be patient.
</td></tr></table>
{% endif %}


<table border=1>
<tr><th colspan=4>Watchlist</th><th colspan=4>Crossmatch ZTF</th></tr>
<tr>
<th>RA</th>
<th>Dec</th>
<th>Object</th>
<th>Radius</th>
<th>objectId</th>
<th>candidates</th>
<th>mag range</th>
<th>Sherlock class</th>
</tr>
{% for c in conelist %}
<tr>
<td>{{ c.ra }}</td>
<td>{{ c.decl }}</td>
<td>{{ c.name }}</td>
<td>{{ c.radius }}</td>
<td><a href=/object/{{ c.objectId }}/>{{ c.objectId }}</a></td>
<td>{% if c.ncand %}{{ c.ncand }}{% else %}{% if c.objectId %}&lt; 3{% endif %}{% endif %}</td>
<td>{{ c.range|floatformat:1 }}</td>
<td>{{ c.sherlock_classification }}</td>
</tr>
{% endfor %}
</table>
</div>
</div>

{% endblock %}
