{% extends "base.html"%}
{% load staticfiles%}
{% block content %}
<script type="text/javascript" src="{% static "/js/plotly-latest.min.js" %}" ></script>
<script type="text/javascript" src="{% static "/js/lc.js" %}" ></script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.12.1.min.js" charset="utf-8"></script>
<script type="text/javascript" src="{% static "/js/jquery.tablesorter.min.js" %}" ></script>

<div class="row">
	<div class="col-sm">
		<h3>Object {{ data.objectId }}</h3>
	</div>
</div>

<div class="row">
        <div class="col-sm-8">
		<div id="lc" style="width:100%;height:300px;"></div>
        </div>
	<div class = "col-sm-4">
		<div id="radec" style="width:100%;height:300px;"></div>
	</div>
</div>

<hr/>
<div class="row">
<ul>
<li>Object has {{ data.objectData.ncand }} candidates, at mean position:
<ul>
<li> (RA, Dec) = ({{ data.objectData.ramean|floatformat:6 }}, {{ data.objectData.decmean|floatformat:6 }})</li>
<li> (RA, Dec) = ({{ data.objectData.rasex }}, {{ data.objectData.decsex }})</li>
{% if data.objectData.glonmean %}<li> (l, b) = ({{ data.objectData.glonmean|floatformat:6 }}, {{ data.objectData.glatmean|floatformat:6 }})</li> {% endif %}
</ul>

{% if data.objectData.classification %}
<li>Classified as {{ data.objectData.classification }} at distance {{ data.objectData.separationArcsec|floatformat:2 }} arcsec.</li> {% endif %}

<li>
{% if data.objectData.MPCname %}
<form method="post" id="JPLsearch" action="https://ssd.jpl.nasa.gov/sbdb.cgi">
<input type="hidden" name="sstr" value="{{ data.objectData.MPCname }}"></form>
Moving object, MPC name is <a href="#" onclick="document.forms[0].submit()">{{ data.objectData.MPCname }}</a>
{% else %}
{{ data.objectData.annotation|safe }}{% endif %}</li>

<li>Information on this webpage also&nbsp; <a href="/object/{{ data.objectId }}/json/">available as JSON.</a></li>
</div>

<hr/>
<div class="row">
<div class="col-sm-8">
<h4>Comments</h4>
<!--{{ data.message }}-->
<table>
{% for c in data.comments %}
<tr><td><font size=-1>{{ c.name }}</font></td>
<td><font size=-1>{{ c.time }}</td>
<td>{% if c.mine %} <form method="POST" action="/delete_comment/{{ c.comment_id }}/"> {% csrf_token %} <input type="submit" value="(delete)"/></form> {% endif %} </td><td>{{ c.content|safe }}</td></tr>
{% endfor %}
</table>
{% if authenticated %}
<form method="POST" action="/comment/">
{% csrf_token %}
<input type="hidden" name="objectId" value="{{ data.objectId }}">
<input type="submit" value="New comment"/>
</form>
{% else %}
You must be signed in to post comments.
{% endif %}
</div>
</div>

<hr/>
<div class="row">
<div class="col-sm-8">
<h4>Crossmatches</h4>
<table class="table" border=1>
<thead>
<tr><th>rank</th><th>ID</th><th>Catalog</th><th>Type</th><th>Separation</th><th>r-mag</th><th>g-mag</th><th>photoZ</th></tr>
</thead>
{% for cm in data.crossmatches %}
<tr><td>{{ cm.rank }}</td><td>{{ cm.catalogue_object_id }}</td><td>{{ cm.catalogue_table_name }}</td>
<td>{{ cm.catalogue_object_type }}</td><td>{{ cm.separationArcsec|floatformat:2 }}</td><td>{{ cm.r }}</td><td>{{ cm.g }}</td><td>{{ cm.photoZ }}</td></tr>
{% endfor %}
</table>
</div>
</div>

<hr/>
<h4>AladinLite</h4>
<!-- insert this snippet where you want Aladin Lite viewer to appear and after the loading of jQuery -->
<div class="row">
        <div class="col-sm-3">
                <form>
                <div class="form-group"> <input id="DSS" type="radio" name="survey" value="P/DSS2/color"><label for="DSS">DSS color<label> </div>
                <div class="form-group"> <input id="SDSS" type="radio" name="survey" value="P/SDSS9/color"><label for="SDSS">SDSS color<label> </div>
                <div class="form-group"> <input id="2MASS" type="radio" name="survey" value="P/2MASS/color"><label for="2MASS">2MASS<label> </div>
                <div> <input id="allwise" type="radio" name="survey" value="P/allWISE/color"><label for="allwise">AllWISE<label> </div>
                <div class="form-group"> <input id="galex" type="radio" name="survey" value="P/GALEXGR6/AIS/color"><label for="galex">GALEX<label> </div>
                <div class="form-group"> <input id="glimpse" type="radio" name="survey" value="P/GLIMPSE360"><label for="glimpse">GLIMPSE 360<label> </div>
                </form>    
        </div> 
        <div class ="col-sm-9">
                <div id="aladin-lite-div" style="width:300px;height:300px;"></div>
        </div>
</div>



<div class ="row">
<h4>Conesearch Links</h4> 
&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="http://simbad.u-strasbg.fr/simbad/sim-coo?Coord={{ data.objectData.ramean }}%20{{ data.objectData.decmean }}&Radius=0.08" target="new">Simbad</a>
&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="https://ned.ipac.caltech.edu/ui/?q=nearposn&lat={{ data.objectData.decmean }}d&lon={{ data.objectData.ramean }}d&sr=0.08&coordsys=Equatorial&equinox=J2000.0" target="new">NED</a>
&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="https://wis-tns.weizmann.ac.il/search?ra={{ data.objectData.ramean }}&decl={{ data.objectData.decmean }}&radius=5&coords_unit=arcsec" target="new">Transient Name Server</a>
</div>

<div class ="row">
<h4>Candidates</h4>&nbsp;&nbsp;
(To sort, click the column headings)
	<div class="col-sm-12">
		<table id=candidates_table class="table">
		<thead><tr>
		<th>JD</th>
		<th>UTC</th>
		<th>Filter</th>
		<th>magpsf</th>
		<th>candidate</th>
		<th>Image</th>
		</tr></thead>
                <tbody>
		{% for cand in data.candidates %}

			<tr>
			<td>{% if not cand.candid %}<font color="gray" size=-2>{% endif %}{{ cand.jd|floatformat:3 }}{% if not cand.candid %}</font>{% endif %}</td>
			<td>{% if not cand.candid %}<font color="gray" size=-2>{% endif %}{{ cand.utc }}{% if not cand.candid %}</font>{% endif %}</td>
			<td>{% if not cand.candid %}<font color="gray" size=-2>{% endif %}{% if cand.fid == 1 %}g{% else %}r{% endif %}{% if not cand.candid %}</font>{% endif %}</td>
			<td>{% if not cand.candid %}<font color="gray" size=-2>{% endif %}{{ cand.magpsf|floatformat:3 }} {% if cand.candid %}&plusmn; {{ cand.sigmapsf|floatformat:3 }}{% endif %}{% if not cand.candid %}</font>{% endif %}</td>
			<td> {% if not cand.candid %}<font color="gray" size=-2>non-detection</font>{% else %}<a href="/cand/{{ cand.candid }}/">{{ cand.candid }}</a>{% endif %}</td>
			<td>{% if cand.candid %}<a href=/lasair/static/ztf/stamps/jpg/{{ cand.nid }}/candid{{ cand.candid }}.jpg><img src=/lasair/static/ztf/stamps/jpg/{{ cand.nid }}/candid{{ cand.candid }}.jpg></a>{% endif %}</td>
			</tr>

		{% endfor %}
                </tbody>
		</table>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function() 
    { 
        $("#candidates_table").tablesorter(); 
    } 
); 
</script>

<script type="text/javascript" src="//aladin.u-strasbg.fr/AladinLite/api/v2/latest/aladin.min.js" charset="utf-8"></script>
<script type="text/javascript">
    var aladin = A.aladin('#aladin-lite-div', {survey: "P/PanSTARRS/DR1/color-z-zg-g", fov:0.01, target: "{{ data.objectData.ramean }}, {{ data.objectData.decmean }}"});
    $('input[name=survey]').change(function() {
        aladin.setImageSurvey($(this).val());
    });

    var hipsCats = {
        'ps1': A.catalogHiPS('https://axel.u-strasbg.fr/HiPSCatService/II/349/ps1', {name: 'PanSTARRS DR1 sources', shape: 'circle', sourceSize: 8, color: '#6baed6', onClick: 'showTable', name: '          PanSTARRS DR1'}),
        'gdr2': A.catalogHiPS('https://axel.u-strasbg.fr/HiPSCatService/I/345/gaia2', {name: 'Gaia DR2 sources', shape: 'circle', sourceSize: 8, color: '#d66bae', onClick: 'showTable', name: 'Gaia DR2'})
        };
    hipsCats['ps1'].hide();
    hipsCats['gdr2'].hide();
    aladin.addCatalog(hipsCats['ps1']);
    aladin.addCatalog(hipsCats['gdr2']);


    var pd = "{{ json_data }}";
    pd = pd.replace(/&quot;/g,'"')
    var json_data = JSON.parse(pd);
    plotlc(json_data);

</script>

{% endblock %}

