{% extends "base.html"%}
{% block content %}
<div class="row">
	<h3>Lasair Ingestion Status</h3>
</div>
<div class="row">
	<div class="col-sm">
<font color="red"><h4>{{ message }}</h4> </font>
<table cellpadding="8">
<tr><td>Last Lasair update time</td><td> {{ status.update_time }}</td></tr>
<tr><td>Minutes since update</td><td> {{ status.minutes_since }}</td></tr>
<tr><td>Alerts from ZTF today</td><td> {{ status.today_candidates_ztf }}</td></tr>
<tr><td>Candidates ingested to Lasair today</td><td> {{ status.today_candidates_lasair }}</td></tr>
</table>
<i>(Some alerts have more than one candidate)</i>
<hr/>
<a href=/lasair/static/ztf/logs/ztf_{{ status.date }}_programid1.log>Kafka Log File for {{ status.date }}</a><br/>
<a href=/lasair/static/ztf/logs/ztf_{{ status.date }}_tns.log>TNS Log for {{ status.date }}</a><br/>
<a href=/lasair/static/ztf/skymap/log.txt>LIGO-Virgo Log</a><br/>
	</div>
</div>
{% endblock %}
