{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-sm">
<h3>Lasair Filters</h3>
The following is a small selection of event filters that Lasair can produce. 
<p>
<b><i>The following may take up to a minute to execute. Please be patient.</i></b>
  </div>	
</div>
<div class="row">
  <div class="col-xs-6">

<table class="table table-bordered" style="width:80%">
  <thead>
    <tr>
      <th style="width:20%">Name</th>
      <th class="width:70%">Description</th>
    </tr>
  </thead>
{% for mq in public_queries %}
<tr><td>
  <form method="POST" id="runquery{{ mq.mq_id }}" action="/objlist/">
  {% csrf_token %} 
  <input type="hidden" name="selected" value="{{ mq.selected }}"/>
  <input type="hidden" name="tables" value="{{ mq.tables }}"/>
  <input type="hidden" name="conditions" value="{{ mq.conditions }}"/>
  <input type="hidden" name="page"     value="0"/>
  </form>
<a href="#" onclick="runquery({{ mq.mq_id }});"><b>{{ mq.name }}</b></a>
<div id="spinner{{ mq.mq_id }}"></div>
<p>
Stream: <i>{{ mq.streamlink|safe }}<i>
</td>
<td>{{ mq.description|safe }}</td>
</tr>
{% endfor %}
</table>
  </div>
</div>
<div class="row">
  <div class="col-sm">
<h3>Lasair Filters and Queries</h3>
Lasair also provides a more powerful freeform SQL interface
where you can see the SQL for these streams, customise for yourself, make and save your own filters.<br/>
<a href=/objlist><b>Click Here to Build Your Own Filter</b></a> 
<p>&nbsp;</p>
  </div>
</div>

<script>
function runquery(mq_id){
    document.getElementById('spinner' + mq_id).innerHTML = 
        '<img src="/lasair/static/img/loading-gears-animation-10-2.gif">';
    document.getElementById('runquery' + mq_id).submit();
}
</script>

{% endblock %}
