{% extends "base.html"%}
{% block content %}

<div class="row">
<p>
A watchlist is a set of points in the sky, together with a radius in arcseconds. It is assumed to be a list of "interesting" sources, so that any transient that falls within the radius of one of the sources might indicate activity of that source. Each user of the Lasair system has their own set of watchlists, and can be alerted when a ZTF transient is coincident with a watchlist source.
</p><p>
You can create a watchlist of sources by preparing a text file, where each comma-separated  or |-separated
line has RA and Dec in decimal degrees, an identifier,
with optional radius in arcseconds. One way to do this is with 
<a href=http://vizier.u-strasbg.fr/viz-bin/VizieR>Vizier</a> and a spreadsheet program such as Excel or Numbers. 
Here is <a href=/lasair/static/BLLac.txt>an example of the data</a>. The 42 entries are <i>BL Lac candidates for TeV observations (Massaro+, 2013)</i>
</p><p>
An "Active" watchlist is one that is run every day, so that it is up to date with the
latest objects.
</p>

{% if authenticated %}
<script>
function exposeDiv(id) {
    obj = document.getElementById(id);
    if(obj.style.display == "none") {
        obj.style.display = "block";
    } else {
        obj.style.display = "none";
    }
}
</script>

    <div class="col-md-12">
<button style="color: blue; background-color: #EEEEFF;" onclick="exposeDiv('new_watchlist');">Create new watchlist</button>
        <div style="height: 1px;">
        </div>
<br/>
    </div>
    <div id="new_watchlist" style="display:none" class="col-sm-6">
<form method="POST"  action="/watchlist/">
{% csrf_token %}
<table width=400>
<tr><td>Name:</td><td> <input name="name"></td></tr>

<tr><td>Description:</td><td> <textarea name="description" rows=3 cols=40></textarea></td></tr>

<tr><td>default radius (arcsec), max 360:</td><td> <input name="radius"></td></tr>
<tr colspan="2"><td>

<font size=-1>Paste here the list of sources to be watched, as comma-separated values 
	<b>RA, Dec, ID &lt;,radius&gt;</b> with RA and Dec in decimal degrees, and radius in arcseconds:</font></td><td>
<textarea name="objects" rows="9" cols="50"></textarea></td></tr>
<tr><td>

<input type="submit" class="button" style="color: blue; background-color: #EEEEFF;" value="Submit form">
</td></tr>
</table>
</form>
    </div>

<div class="row">
{{ message }}
<hr/>

    <div class="col-xs-6">
<h3>My Watchlists</h3>
Your private watchlists are listed below. Click "Create new watchlist" 
above to make a new one. Click on the name of the watchlist for more information and crossmatching.
<table class="table table-bordered" style="width:70%">
  <thead>
    <tr>
      <th style="width:10%">Name</th>
      <th class="width:70%">Description</th>
      <th class="width:5%">Radius</th>
      <th class="width:5%">Active</th>
      <th class="width:5%">Public</th>
      <th class="width:10%"></th>
    </tr>
  </thead>
{% for wl in my_watchlists %}
<tr><td><b><a href=/watchlist/{{ wl.wl_id }}>{{ wl.name }}</a></b></td>
<td>{{ wl.description }}</td>
<td> {{ wl.radius }} arcsec </td>
<td> {% if wl.active == 1 %}&#x2714;{% endif %} </td>
<td> {% if wl.public == 1 %}&#x2714;{% endif %} </td>

<td><form method="POST"  action="/watchlist/">
{% csrf_token %}
<input type="hidden" name="delete" value="{{ wl.wl_id }}">
<input type="submit" value="(delete)">
</form>

</td></tr>
{% endfor %}
</table>
    </div>

{% else %}
To create your own watchlists, you must log in.
{% endif %}
</div>

<div class="row">
    <div class="col-xs-6">
<h3>Public Watchlists</h3>
Watchlists created and made public are listed below. Click on the name of 
the watchlist for more information and crossmatching.
<table class="table table-bordered" style="width:80%">
  <thead>
    <tr>
      <th style="width:20%">Name</th>
      <th style="width:20%">Owner</th>
      <th class="width:60%">Description</th>
      <th class="width:5%">Radius</th>
      <th class="width:3%">Active</th>
    </tr>
  </thead>
{% for wl in other_watchlists %}
<tr><td><b><a href=/watchlist/{{ wl.wl_id }}>{{ wl.name }}</a></b></td>
<td>{{ wl.user.first_name }} {{ wl.user.last_name }}</td>
<td>{{ wl.description }}</td>
<td> {{ wl.radius }} arcsec </td>
<td> {% if wl.active == 1 %}&#x2714;{% endif %} </td>
</tr>
{% endfor %}
</table>
    </div>
</div>

{% endblock %}
